<div id="friend-detail" fxLayout="column" class="mat-elevation-z8" fxFlex="1 0 auto">
    <div class="header" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex>
            <h2>Friend Detail</h2>
        </div>
    </div>
    <form name="friendForm" [formGroup]="friendForm" fxLayout="column" novalidate (ngSubmit)="save()" fxFlex="1 0 auto">
        <div class="form-container">
            <div fxLayout="row wrap" fxLayout.lt-md="column" class="detail-form">
                <mat-form-field fxFlex="100">
                    <input matInput placeholder="Nome" formControlName="name" required />
                    <mat-error *ngIf="f.name.errors && f.name.errors.required">Name is required</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="100">
                    <input matInput placeholder="Nickname" formControlName="nickname" required />
                    <mat-error *ngIf="f.nickname.errors && f.nickname.errors.required">Nickname is required</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="100">
                    <input matInput placeholder="Email" formControlName="email" required />
                    <mat-error *ngIf="f.email.errors && f.email.errors.required">Email is required</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="detail-button">
            <button mat-raised-button type="reset" (click)="cancel()" matTooltip="Cancel changes">Cancel</button>
            <button mat-raised-button color="primary" [disabled]="friendForm.invalid || friendForm.pristine" matTooltip="Save changes">Save</button>
        </div>
    </form>
</div>